/* we decided not to touch the original design of the theme (screen.css)
- instead of using the global code injection feature of Ghost, we added this stylesheet*/

body,
.page-template .site-main, 
.post-template .site-main,
.post-template .tag-news .is-head-b--a_n {
    background-color: #0000ff;
    color: #ffffff;
}
.gh-main a {
    color: #ff3f9f;
}
#gh-head .gh-head-btn {
    display: none !important;
}
.gh-head-btn {
    color: #000000 !important;
    display: none;
}
.gh-head-actions {
    display: none;
}
.gh-foot {
    background-color: #ffffff;
}
.gh-foot-menu a {
    color: #000000 !important;
    font-weight: 600;
    text-transform: uppercase;
}
.gh-copyright a,
.gh-powered-by a {
    font-size: small;
    color: #000000 !important;
}
h1,
h2,
h3,
.gh-article-excerpt,
.gh-card-excerpt {
    color: #ffffff;
}
footer {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
footer,
footer a,
.gh-article-meta,
.gh-tag-description {
    color: #bcbcbc !important;
}

/* Matrix Live*/

.matrix-live-main {
    width: 100%;
}
.matrix-live-loading-spinning {
    display: none;
}
.matrix-live-loading {
    font-size: smaller;
    text-align: right;
    color: #ff3f9f;
    padding: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 1px #bcbcbc;
    border-radius: 15px;
}
.matrix-live-loading-error {
    color: #ff686e;
}
.matrix-live-error {
    border-bottom-style: solid 1px #ff686e;  
    padding-bottom: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ff686e;
}
.matrix-live-entry {
    border-bottom: solid 1px #bcbcbc;
    padding-bottom: 30px;
}  
.matrix-live-new {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
}
.matrix-live-entry-body {
    margin-top: 10px;
    margin-bottom: 10px;
}
.matrix-live-entry-body p {
    margin-bottom: 5px;
}
.matrix-live-entry-body img {
    max-width: 100%;
}
.matrix-live-entry-inline-viewer {
    text-align: center;
}
.matrix-live-entry-image {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.matrix-live-entry-image img {
    max-width: 100%;
}
.matrix-live-entry-video {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.matrix-live-entry-video video {
    max-width: 100%;
}
.matrix-live-entry-file {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.matrix-live-entry-file svg {
    width: 32px;
    max-width: 20%;
    margin-right: 16px;
    vertical-align: middle;
}
.matrix-live-entry-author {
    font-size: smaller;
    color: #ff3f9f;
    display: inline;
    float: left;
    padding: 2px;
}
.matrix-live-entry-time {
    font-size: smaller;
    color: #ff3f9f;
    display: inline;
    float: right;
    padding: 2px;
}
.matrix-live-footer {
    text-align: right;
    font-size: smaller;
    padding: 4px;
    margin-top: 20px;
    margin-bottom: 10px;
    border: solid 1px #bcbcbc;
    border-radius: 15px;
}
.matrix-live-footer a {
    color: #ff3f9f;
    padding-right: 4px;
}
  
/* Fadein setup */
 @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
  
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
  
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
  
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
  
/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}    
.matrix-live-main {
    width: 100%;
}
.matrix-live-loading-spinning {
    display: none;
}
.matrix-live-loading {
    font-size: smaller;
    text-align: right;
    color: #ff3f9f;
    padding: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 1px #bcbcbc;
    border-radius: 15px;
}
.matrix-live-loading-error {
    color: #ff686e;
}
.matrix-live-error {
    border-bottom-style: solid 1px #ff686e;  
    padding-bottom: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ff686e;
}
.matrix-live-entry {
    border-bottom: solid 1px #bcbcbc;
    padding-bottom: 30px;
}  
.matrix-live-new {
     -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
}
.matrix-live-entry-body {
     margin-top: 10px;
    margin-bottom: 10px;
}
.matrix-live-entry-body p {
    margin-bottom: 5px;
}
.matrix-live-entry-body img {
    max-width: 100%;
}
.matrix-live-entry-inline-viewer {
    text-align: center;
}
.matrix-live-entry-image {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.matrix-live-entry-image img {
    max-width: 100%;
}
.matrix-live-entry-video {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.matrix-live-entry-video video {
    max-width: 100%;
}
.matrix-live-entry-file {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.matrix-live-entry-file svg {
    width: 32px;
    max-width: 20%;
    margin-right: 16px;
    vertical-align: middle;
}
.matrix-live-entry-author {
    font-size: smaller;
    color: #ff3f9f;
    display: inline;
    float: left;
    padding: 2px;
}
.matrix-live-entry-time {
    font-size: smaller;
    color: #ff3f9f;
    display: inline;
    float: right;
    padding: 2px;
}
.matrix-live-footer {
    text-align: right;
    font-size: smaller;
    padding: 4px;
    margin-top: 20px;
    margin-bottom: 10px;
    border: solid 1px #bcbcbc;
    border-radius: 15px;
}
.matrix-live-footer a {
    color: #ff3f9f;
    padding-right: 4px;
}
  
  /* Fadein setup */
  @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
  
/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
  
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
  
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
  
/* Opera < 12.1 */
    @-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.matrix {
    border-top: solid 1px #bcbcbc;
    margin-top: 10px;
}
.matrix-logo {
    float: left;
}
#matrix-handle {
    float: right;
}
